body {
    text-align:center;  
    font-family: monospace;
}

.container {
    width: 350px;
    margin: auto;
    background-color: none;
}

h2 {
    margin: 20px;
}

a {
    text-decoration: none;
    color: #ff1b1b;
}

#hangman {
    width: 95%;
    height: auto;
    margin: 30px auto;
    border: none;
}

.top-display {
    border: none;
    width: 90%;
    margin: 20px auto;
    background-color: white;
}

.displayed-word {
    font-size: 1.5em;
    margin: 25px 5px 25px 5px;
}

.lives-left {
    margin: 25px 0px;
}

.message {
    margin: 25px 0px;
}

.buttons-section {
    border: none;
    width: 90%;
    margin: 15px auto;
}

button {
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    font-family: monospace;
    text-transform: uppercase;
    background-color: white;
}

button:hover {
    border: 1px solid #000000;
}

button:focus {
    outline: none;
}

button.deactivated {
    color: #dddddd;
    cursor: auto;
}

button.deactivated:hover {
    border: none;
    color: #dddddd;
}

#new-game-button {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 120px;
    height: 40px;
}

.letter-button {
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 100%;
    margin: 4px; 
}

svg {
    margin: 0 auto;
    border: 1px solid black;
  }
  
  line {
    stroke: black;
    stroke-width: 4;
  }
  
  #door1 {
    transform-origin: 0% 100%;
  }
  
  #door2 {
    transform-origin: 100% 100%;
  }
  
  .hide {
    visibility: hidden;
  }
  